<footer>
  <!-- <div>
    <div class="footer-sobre">
      <img src="" alt="logo">
      <h3>P.A.G</h3>
      <p>Transformando educação através de gamificação e tornando o aprendizado uma aventura inesquecível</p> 
    </div>
    
    <div class="footer-plataforma">
      <img src="" alt="logo">
      <h3>Plataforma</h3>
      <a routerLink="/challenges">Desafios</a>
      <a routerLink="/rankings">Rankings</a>
      <a routerLink="/register">Cadastro</a>
      <a routerLink="/about">Sobre</a>
    </div>
    
    <div class="footer-suporte">
      <img src="" alt="logo">
      <h3>Suporte</h3>
      <a href="">Central de Ajuda</a>
      <a href="">Tutoriais</a>
      <a href="">FAQ</a>
      <a href="">Contato</a>
    </div>
  </div> -->
      
  <!-- <hr> -->

  <p style="text-align: center; font-size: 0.9em; color: #888;">
    &copy; 2025 P.A.G - Plataforma de Aprendizagem Gamificada. Todos os direitos reservados.
  </p>
</footer>