<header>
    <div class="titulo-logo">
        <div class="logo-PAG">
            <img src="" alt="">
        </div>
        <div class="titulo-PAG">
            <h3>P.A.G</h3>
        </div>
    </div>

    <div class="link-paginas">
        <a routerLink="/home">Inicio</a>
        <a routerLink="/challenges">Desafios</a>
        <!-- <a routerLink="/rankings">Rankings</a> -->
        <a routerLink="/about">Sobre</a>
    </div>

    <div class="log-cad">
        <a routerLink="/login">Entrar</a>
        <button class="botao-cadastrar"><a routerLink="/register">Cadastrar</a></button>
    </div>
</header>