<div class="hero-central">
    <div class="intro-banner">
        <div class="icon-estrela"></div>
    </div>

    <div class="titulo-principal">
        <h1>Aprenda Jogando,</h1>
        <h1>Evolua Sempre</h1>
    </div>

    <div class="descricao-plataforma">
        <p>
            Transforme seus estudos em uma aventura épica.
            Complete desafios, ganhe pontos, desbloqueie conquistas e domine novos conhecimentos de forma divertida.
        </p>
    </div>

    <div class="botoes-acao">
        <button class="comecar-agora" [routerLink]="'/login'">Começar Agora</button>
        <button class="explorar-desafios" [routerLink]="'/challenges'">Explorar Desafios</button>
    </div>

</div>