<app-header></app-header>

<main>
    <div class="page-header">
        <h1>Sobre o P.A.G</h1>
        <p>Queremos revolucionar o aprendizado de programação, transformando o processo em uma jornada divertida,
            engajadora e altamente eficaz.</p>
    </div>

    <div class="about-container">

        <div class="about-section">
            <h2>Inovação</h2>
            <p>Sempre buscando novas formas de tornar o aprendizado mais eficaz.</p>
        </div>
        <div class="about-section">
            <h2>Engajamento</h2>
            <p>Criando experiências que mantêm os estudantes motivados.</p>
        </div>
        <div class="about-section">
            <h2>Acessibilidade</h2>
            <p>Tornando a educação de qualidade disponível para todos.</p>
        </div>
        <div class="about-section">
            <h2>Colaboração</h2>
            <p>Promovendo o aprendizado em comunidade.</p>
        </div>
        <div class="about-section">
            <h2>Excelência</h2>
            <p>Comprometidos com a mais alta qualidade em tudo que fazemos.</p>
        </div>
    </div>

    <div class="equipe-cards">
        <div class="card-membro">
            <div>
                <img src="https://via.placeholder.com/150" alt="Foto do Membro da Equipe">
            </div>
            <div>
                <h3>Marcelly Oliveira</h3>
                <p>Desenvolvedor</p>
            </div>
        </div>
    </div>

</main>

<!-- <app-footer></app-footer> -->