main {
    min-height: 70vh;
    padding: 2rem;
    background: linear-gradient(120deg, #f3f4f6 0%, #e0e7ff 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: #fff; */
}

.page-header {
    text-align: center;
    margin-bottom: 3rem;
}

.page-header h1 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(135deg, #8b5cf6, #3b82f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.page-header p {
    font-size: 1.2rem;
    color: #6b7280;
    max-width: 600px;
    margin: 0 auto;
}

.about-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.about-section {
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #e5e7eb;
    width: 25rem;
    height: 15rem;
}

.about-section h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 1rem;
}

.about-section p {
    font-size: 1.1rem;
    color: #6b7280;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.about-section ul {
    padding-left: 1.5rem;
}

.about-section li {
    font-size: 1.1rem;
    color: #6b7280;
    line-height: 1.7;
    margin-bottom: 0.5rem;
}

.equipe-cards {
    background-color: #fff;
    height: 9em;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.card-membro {
    /* background-color: #ccc; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;

}

.card-membro div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-membro div img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e7eb;
    padding: 0.5rem;
    background-color: #fff;
    border: 2px solid #1f2937;
}

.card-membro div h3 {
    font-size: 1.2rem;
    color: #1f2937;
    margin-bottom: 0.5rem;
}

.card-membro div p {
    font-size: 1rem;
    color: #6b7280;
    line-height: 1.7;
    margin-bottom: 0.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    .page-header h1 {
        font-size: 2rem;
    }

    .page-header p {
        font-size: 1rem;
    }

    .about-section {
        padding: 1.5rem;
    }

    .about-section h2 {
        font-size: 1.5rem;
    }

    .about-section p,
    .about-section li {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .about-section {
        padding: 1rem;
    }
}