main {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, #f3f4f6 0%, #e0e7ff 100%);
  padding: 2rem 1rem;
  /* background: #fff; */
}

/* Responsive Design */
@media (max-width: 768px) {
  main {
    padding: 2rem 0.5rem;
  }
}

@media (max-width: 480px) {
  main {
    padding: 2rem 0.5rem;
  }
}