<div class="register-container">
    <h2>Criar Conta</h2>
    <form class="formulario">
        <div class="input-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="input-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="input-group">
            <label for="confirm-password">Confirmar Senha:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
        </div>
    </form>
    <button class="botao-cadastrar" type="submit">Cadastrar</button>
    <p>Já tem uma conta? <a routerLink="/login">Faça login aqui</a></p>

</div>