<app-header></app-header>

<main>
    <div class="page-header">
            <h1>Desafios</h1>
            <p>Explore nossa variedade de desafios e comece sua jornada de aprendizado</p>
        
     
    </div>

       <div class="botoes-acao">
            <button class="comecar-agora" [routerLink]="'/login'">Começar Agora</button>
        </div>

    <div class="challenges-container">
        <div class="challenge-list">
            <div class="challenge-item">
                <h3>Lógica de Programação</h3>
                <p>Desenvolva raciocinio lógico para resolver problemas computacionais</p>
                <span class="difficulty beginner">Iniciante</span>
            </div>

            <div class="challenge-item">
                <h3>Matemática Básica</h3>
                <p>Lógica matemática e algoritmos númericos</p>
                <span class="difficulty intermediate">Intermediário</span>
            </div>

            <div class="challenge-item">
                <h3>HTML e Semântica</h3>
                <p>Conhecimento de HTML e semântica web</p>
                <span class="difficulty intermediate">Intermediário</span>
            </div>

            <div class="challenge-item">
                <h3>CSS e Estilização</h3>
                <p>Conhecimento de CSS e estilização web</p>
                <span class="difficulty advanced">Avançado</span>
            </div>

            <div class="challenge-item">
                <h3>JavaScript Básico</h3>
                <p>Algoritmos básicos, DOM´s, Eventos e funções</p>
                <span class="difficulty advanced">Avançado</span>
            </div>

            <div class="challenge-item">
                <h3>Python para iniciantes</h3>
                <p>Algoritmos básicos, variáveis, bibliotecas e funções</p>
                <span class="difficulty advanced">Avançado</span>
            </div>

        </div>
    </div>
</main>

<!-- <app-footer></app-footer> -->